$main_color: #2196f3;
$secondary_color: #77c4ff;
$text_color: #205682;

.text-input {
  margin-bottom: 1rem;

  &.input--container {
    color: $text_color;
    .input--label {
      font-size: large;
      margin-bottom: 0.2rem;
    }

    .input--main {
      border: $main_color 1px solid;
      border-radius: 0.3rem;
      overflow: hidden;
      display: flex;

      &:focus-within,
      &:focus,
      &:focus-visible {
        border: transparent 1px solid;
        outline: 1px solid $secondary_color;
      }

      ::-ms-input-placeholder,
      ::placeholder {
        color: $main_color;
        opacity: 1; /* Firefox */
      }

      input {
        padding: 0.5rem;
        min-width: 15rem;
        font-size: 1rem;
        color: $text_color;
        border: none;
        flex: 1;

        &:focus-within,
        &:focus,
        &:focus-visible {
          border: none;
          outline: none;
        }
      }

      button {
        all: unset;
        font-family: "Nunito Sans";
        padding: 0 0.5rem;
        &:hover {
          cursor: pointer;
          color: #ff623e;
        }
      }
    }

    p.input--error {
      font-size: 12px;
      color: #ff623e;
      display: initial;
    }
  }
}
